<p><%= @user.first_name %> <%= @user.last_name %>,</p>

<p><%= @current_user.first_name %> <%= @current_user.last_name %> назначил вам новое задание  <%= @task.name %>.</p>
<p>Более подробно ознакомиться с задачей можно <%= link_to "по ссылке", tasks_url %>.</p> 
<p>С уважением, администрация CRM.</p>