<p><%= @user.first_name %> <%= @user.last_name %>,</p>
<p>Напоминаем, что вам обратить внимание на текущего кандидата: </p>
<ul>
  <li>Имя: <%= " #{@name}" %></li>
  <li>Уровень: <%= " #{@level}" %></li>
  <li>Специализация: <%= " #{@specialization}" %></li>
</ul>
<%= link_to "просмотреть в CRM", tables_url(type: 'CANDIDATE', only: 'contact_later') %> 
<p>С уважением, администрация CRM.</p>
