<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">

    <div class="notifier pull-right">
      <div class="notice-mess">       
      </div>
      <div class="helper">
      </div>
    </div>

    <table id='task-table' class="table table-striped table-bordered table-condensed table-responsive">
      <thead>
        <tr class="info">
          <th>№</th>
          <th>Name</th>
          <th>Topic</th>
          <th value="source" class="sortable sort">Source</th>
          <th>Skype</th>
          <th>Email</th>
          <th>Message</th>
          <th>Links</th>
          <th value="date" class="sort_asc sort">Date</th>
          <th value="user_name" class="sortable sort">Assign to</th>
          <th value="status" class="sortable sort">Status</th>
          <% if params[:only] == 'sold' %>
            <th>Price</th>
            <th>Terms</th>
          <% end %>
          <th>Comments</th>
        </tr>
      </thead>
      <tbody id="table-body" class="table-responsive">
        <% @tasks.each do |task| %>
          <tr id=<%="#{task.id}"%>>
            <td class="number">
              <p> <%= task.id %> </p>
            </td>
            <td class='editable-field' name='name'>
              <%= task.name %>
            </td>
            <td class="editable-field topic" name="topic">
              <%= task.topic %>
            </td>
            <td class='source' name='source'>
              <%= select("task", "source_id", Source.all.collect {|s| [ s.name.capitalize, s.id ] }, 
                  { include_blank: "Not selected", selected: task.source_id }, 
                  class: "btn btn-default source", name: 'source_id') %>
            </td>
            <td class='editable-field' name='skype'>
              <%= task.skype %>
            <td class='editable-field' name='email'>
              <%= task.email %>
            </td>
            <td class="messages">
              <div class="message_list"> 
                <% task.messages.each do |mess| %>
                  <div class="message">
                    <span class="comment_time"><%= mess.datetime.strftime('%e.%m %H:%M') if mess.datetime %></span>
                    <span><%= mess.user.first_name %></span> 
                    <p><%= mess.body %></p>    
                  </div>
                <% end %>
              </div>
            </td>
            <td class='links' name='links'>
              <div class="link_list">
                <%= links_for_table(task.links) %>
              </div>                
            </td>
            <td class="date">
              <input class="date-input" name="date" value='<%= task.date  %>'/> 
            </td>
            <td class='user_name'>
                <%= select("task", "user_id", User.all.collect {|p| [ p.first_name + ' ' + p.last_name , p.id ] }, 
                            { include_blank: "Not assigned", selected: task.user_id }, 
                            class: "btn btn-default user", name: 'user_id') %>
            </td>
            <td class='status'>

                <%= select("status", "status_id", Status.all.collect {|s| [ s.name.capitalize, s.id ] }, 
                  { include_blank: "Not selected", selected: task.status.id }, 
                  class: "btn btn-default status", name: 'status_id') %>
            </td>
            <% if params[:only] == 'sold' %>
              <td class='price' name='price'>
                <div> <%= task.sold_task.price %> </div>
                <input hidden="true" class='id' value= <%="#{task.sold_task.id}"%> />
              </td>
              <td class='terms'>
                <label class='date_start' for='date_start'> Start: </label>
                <input class='date-input' value="<%= task.sold_task.date_start %> " name='date_start'/>
                <label class='date_end' for='date_end'> End: </label>
                <input class="date-input" value="<%= task.sold_task.date_end %>" name='date_end' />
                <input hidden="true" class='id' value= <%="#{task.sold_task.id}"%> />
              </td>
            <% end %>
            <td class='comments'>
              <div class="comment_list"> 
                <% task.comments.order(:created_at).each do |comment| %>
                  <%= generate_comment(comment, comment.datetime) %>
                <% end %> 
              </div>
            </td>
            <td class="remove"> 
              <%= link_to image_tag('remove.png'), task, data: {
                  confirm: "Are you sure to destroy task №#{task.id}?"
                }, 
                method: :delete %> 
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
    <!-- Hidden blocks for popup dialogs -->
    <div id='common-dialog'> 
      <textarea id="text-editor"></textarea>
    </div>   

    <div id="comments_dialog" >
      <textarea id="comment_body" class="comment_body"></textarea>
      <button class="btn btn-primary btn-xs pull-right comment_save", type="button">Add new comment</button>
    </div>

    <div id="messages-dialog"></div>

    <div id="links-dialog">
      <input id="link-inp" />
    </div>

    <div id="declined-comment">
      <textarea id="declined_comment_body" class="comment_body"></textarea>
    </div>

    <div id="price-dialog" title="Price">
      <input id="price" type="number" class="price"/>
    </div>


    <!-- Modal -->

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Assigned Meeting</h4>
          </div>
          <div class="modal-body">
            <div class="row" id="meeting_dialog">
              <%= form_for :@meeting, :url => meetings_path(@meeting) do |f| %> 
                <div class="control-field">
                  <%= f.text_field :title, class: 'form-control', placeholder: 'Title'%>
                </div>
                <div class="control-field">
                  <%= f.text_area :description, class: 'form-control', placeholder: 'Description' %>
                </div>
                <div class="container" id="container">
                  <div class='col-md-5' id='col-md-5' >
                   <div class="form-group">
                      <div class='input-group date' id='datetimepicker6'>
                        <%= f.text_field :start_time, placeholder: 'Start time', class: "form-control" %>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                      </div>
                    </div>
                  </div>
                  <div class='col-md-5' id='col-md-5' >
                    <div class="form-group">
                      <div class='input-group date' id='datetimepicker7'>
                        <%= f.text_field :end_time, placeholder: 'End time', class: "form-control" %>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="control-field" id="meeting-email">
                  <%= f.text_field :email,  class: 'form-control', placeholder: 'Add email'%>
                </div>
                <div class="side-by-side clearfix", id="chosen">
                  <%= select_tag "User", options_for_select(User.all_except(current_user).collect {|p| [ p.first_name + ' ' + p.last_name , p.id ]} + Task.all.collect {|p| [ p.name , p.id.to_s + "task" ]}),multiple: true, style:"width:100% !important;", class: "chosen-select", name: 'users[]', id: 'user', "data-placeholder" => 'Select User ...' %>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <%= f.submit "Create", class: "btn btn-large btn-primary btn-block" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <!-- End hidden blocks -->

  </div><!-- /main-content col-md-12 -->
</div> <!-- /row -->

<script type="text/javascript">
$(function () {
  $(".chosen-select").chosen();
  $('#datetimepicker6').datetimepicker({format: 'MMMM Do YYYY, h:mm'});
  $('#datetimepicker7').datetimepicker({format: 'MMMM Do YYYY, h:mm'});
  $("#datetimepicker6").on("dp.change",function (e) {
    $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
  });
  $("#datetimepicker7").on("dp.change",function (e) {
    $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
  }); 
});
</script>


<script>
$(document).ready(function(){
  var both      = 'sortable',
      asc       = 'sort_asc',
      desc      = 'sort_desc',
      $tskTable = $('#task-table');

  $('.sort').on('click', function(){
    clear($('.sort'), $(this));
    $(this).changeSort($(this).attr('value'));

  });

  function clear($selectors, $current){
    $selectors.each(function(){
      if($(this).attr('value')!== $current.attr('value')){
        $(this).clearSort()
      }
    })
  }  
});

$.fn.clearSort = function(){
  $(this).removeClass('sort_asc sort_desc').addClass('sortable');
}

$.fn.changeSort = function(field){
  if($(this).hasClass('sortable')){
    $(this).removeClass('sortable').addClass('sort_desc');
    sortTable(field, -1);
    return;
  }
  if($(this).hasClass('sort_desc')){
    $(this).removeClass('sort_desc').addClass('sort_asc');
    sortTable(field, 1);
    return;
  }
  if($(this).hasClass('sort_asc')){
    $(this).removeClass('sort_asc').addClass('sort_desc');
    sortTable(field, -1);
    return;
  }
}

function sortTable(col, type) {
    var $rows = $('#table-body'),
        $row = $rows.children('tr');
    if(col !== 'date') {
      type = -type;
    }
    $row.sort(function(a,b) {
      var an,
          bn,
          an_v,
          bn_v;
      switch(col) {
      case 'date': {
        an = $(a).children('.' + col).children('input').val(),
        bn = $(b).children('.' + col).children('input').val();
      }
      break;
      default: {
        an_v = $(a).children('.' + col).children('select').val(),
        bn_v = $(b).children('.' + col).children('select').val();
        an = $(a).children('.' + col).children('select').children(':selected').text(),
        bn = $(b).children('.' + col).children('select').children(':selected').text();
      }
      break;
      }
      if((an_v === '' && bn_v !== '') || (an_v !== '' && bn_v === '')){
        if(an_v > bn_v ) {
          return type;
        }
        if(an_v < bn_v ) {
          return -type;
        }
        return 0;
      } else {
        if(an > bn) {
          return type;
        }
        if(an < bn) {
          return -type;
        }
        return 0;
      }
    });
    $row.detach().appendTo($rows);
  }
</script>