<%= content_for(:custom_scripts) do %>
  <%= javascript_include_tag 'admin' %>
<% end %>

<%= content_for(:sub_menu) do %>
  <%= render "shared/submenus/admin_panel_sub_menu" %>
<% end %>

<div class='row content'>
	<div class='col-lg-8, col-md-8 col-lg-offset-2 col-md-offset-2'>

		<%= render 'shared/notifier' %>

		<table id='users-table' class="table table-hover">
			<thead>
				<th>First name</th>
				<th>Last name</th>
				<th>Email</th>
				<th>Last sign in at</th>
			</thead>
			<tbody>
				<% @users.each do |user| %>
					<tr>
						<td><%= user.first_name %></td>
						<td><%= user.last_name %></td>
						<td><%= user.email %></td>
						<td><%= user.current_sign_in_at %></td>
						<td class="control-field">
							<%= get_users_control(user) %>
				    </td>
            <td class="control-field" value='<%= user.id %>'>
              <% if user != current_user %>
                <% if user.status == 'lock' %>
                  <div class="lock user-status" name='status' value='unlock' >
                  </div>
                <% else %>
                  <div class="unlock user-status" name='status' value='lock'>
                  </div>
                <% end %>
              <% end %>
            </td>
					</tr>
				<% end %>
			</tbody>
		</table>
		<% unless params[:status]=='lock' %>
      <button id='add-new-user' class="btn btn-primary pull-right">Send invitation for new user</button>	
	  <% end %> 
  </div>
</div>
<% unless params[:status]=='lock' %>
  <div id='new-user-dialog' class="deadlock">
    <%= form_for :@user, url: admin_registration_index_path(@user),  html: { id: 'new-user-form' } do |f| %>
      <div class="error" >
        <div id="error_explanation">
        </div>
      </div>

      <div class="control-field">
        <%= f.text_field :first_name, class: 'form-control', placeholder: 'First Name' %>
      </div>

      <div class="control-field">
        <%= f.text_field :last_name, class: 'form-control', placeholder: 'Last Name' %>
      </div>

      <div class="control-field">
        <%= f.text_field :email, class: 'form-control', placeholder: 'Email'  %>
      </div>

      <div class="control-field">
        <%= f.radio_button :permission, 'seller', :checked => true %> 
        <%= label :permission_seller, 'Seller' %>
        <%= f.radio_button :permission, 'hh' %>
        <%= label :permission_seller, 'HH' %>
        <%= f.radio_button :permission, 'hr' %>
        <%= label :permission_seller, 'HR' %>
      </div>

      <div class="control-field">
        <%= f.check_box :admin, class: 'check-box-field' %>
        <%= f.label :admin %>
      </div>

      <div class="control-field">
        <%= f.submit "Send invite", class: "btn btn-large btn-primary", remote: true %>
      </div>
    <% end %>
  </div>
<% end %>