<div class="room">
  <div class="content-column">
  	<div class="user-info">
  		<div class="avatar">
        <!-- it must be changet to gravatar -->
  			<%= image_tag('avatar-default.jpg') %>
  		</div>
      <ul class="inline user-info-list">
        <li> <%= "#{@user.first_name} #{@user.last_name}" %></li>
        <li> <%= "#{@user.email}" %></li>
        <li> <%= user_status(@user) if @user.admin? %> </li>      
      </ul>
      <div class="circleBase circle-activity">
        <span> <%= @user.tasks.count %> </span>
        <span> Tasks </span>
      </div>
      <!-- Nav tabs -->
      <ul class="nav nav-tabs user-room-tabs">
        <li><a href="#contacts" data-toggle="tab">Contact info</a></li>
        <li class="<%= 'active' unless current_user?(@user)%>"><a href="#statistic" data-toggle="tab">Statistic</a></li>
        <% if current_user?(@user) %>
          <li class="active"><a href="#settings" data-toggle="tab">Settings</a></li>
        <% end %>
      </ul>
    </div>

    <!-- Tab panes -->
    <div class="tab-content">
      <% if current_user?(@user) %>
        <div class="tab-pane active" id="settings">
          <div class="text-center"> <h2>Settings</h2> </div>
          <div class="first-form">
            <%= form_tag @user  do %>           
                <table>
                  <tr>
                    <td class="first-td">
                      <div class="upload-avatar">
                        <%= image_tag('avatar-default.jpg') %>
                        <button class="btn btn-primary btn-block"> upload new foto </button>
                      </div>
                    </td>    
                    <td class="second-td">
                      <%= label_tag 'First name:' %>
                      <%= text_field_tag :first_name, @user.first_name, class:"form-control" %>
                      <div class="clear"></div>
                      <%= label_tag 'Last name:' %>
                      <%= text_field_tag :last_name, @user.last_name, class:"form-control"  %>
                      <div class="clear"></div>
                      <%= label_tag 'E-mail:' %>
                      <%= text_field_tag :email, @user.email, class:"form-control"  %>
                      <div class="clear"></div>
                    </td>
                  </tr>
                </table>
                <div class="text-center">
                  <%= submit_tag 'Save changes', class: 'btn btn-primary btn-lg submit-form' %>
                </div>
            <% end %>
          </div>
          <hr>
          <div class="second-form">
            <%= form_tag @user  do %>
              <table>
                <tr>
                  <td class="first-td"></td>
                  <td class="second-td">
                    <%= label_tag 'Current password:' %>
                    <%= text_field_tag :current_password, '',class:"form-control", type: 'password' %>
                    <div class="clear"></div>
                    <%= label_tag 'New password:' %>
                    <%= text_field_tag :new_password, '', class:"form-control", type: 'password' %>
                    <div class="clear"></div>
                    <%= label_tag 'Password confirmation:' %>
                    <%= text_field_tag :new_password_confirmation, '', class:"form-control", type: 'password'  %>
                    <div class="clear"></div>
                  </td>
                </tr>
              </table>
              <div class="text-center">
                <%= submit_tag 'Save changes', class: 'btn btn-primary btn-lg submit-form' %>
              </div>
            <% end %>
            <div class="clear"></div>
          </div>
          <div class="clear"></div>
        </div>      
      <% end %>
      <div class="tab-pane <%= 'active' unless current_user?(@user)%>" id="statistic">
        <h1>Here can be statistic</h1>
      </div>
      <div class="tab-pane" id="contacts">
        <h1>Here can be contacts</h1>
      </div>
    </div>  
  </div>
</div>



          