<div class="row">
  <div class="container-fluid">
    <% @histories.each do |history| %>
    <h3> <%= change_date(history) %> </h3>
      <dl class="history">
        <dt>
          <%= history.created_at.strftime("%I:%M") %>
          <%= history.user.full_name %>
        </dt>
        <dd>
          <%= history.table.id %>
          <%= history.table.name %>
          <div>
            <%= information_about_change(history) %>
          </div>
        </dd>
      </dl>
    <% end %>
  </div>
</div>
