<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Create Project</h4>
        <%= form_for(@project, url: projects_path) do |f| %>
        <div class="modal-body">
          <div class="row" id="meeting_dialog">
            <%= f.text_field :name, class: 'form-control', placeholder: 'Title'%>
          </div>
          <%= text_field_tag :search, "", class: 'form-control', id: "filterinput", placeholder: 'Search'%>
          <div id='assign'>
            <label>Assigned to</label>
            <%= hidden_field_tag :user_ids %>
            <ul id='assign-fields' class='connectedSortable'>
            </ul>
          </div>
          <div id='not_assign'>
            <label>Available</label>
            <ul id='not_assign-fields' class='connectedSortable'>
            </ul>
          </div>
          <div class="side-by-side clearfix">
            <%= f.select :kind, JSON.parse(@colors).keys, name: 'user', id: "chosen-kind", class: "chosen-select", placeholder: 'Title'%>
            <div class="circle" id=""></div>
          </div>
        </div>
        <div class="modal-footer">
          <%= f.submit "Create", class: "btn btn-large btn-primary btn-block" %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('#myModal').modal();

  $('#myModal').on('hide.bs.modal', function () {
    if(confirm('Are you want to save your changes?')){
      $('form').submit();
    }
  });

  var settings;

  (function(){
    $("#project_kind").chosen().change(function(){
    var value = $("#project_kind").val(),
        colors = JSON.parse('<%= raw @colors.html_safe %>'),
        color = colors[value];
    $(".circle").css('backgroundColor', color);
    });
    var path = 'projects/users_for_project';
    $.ajax({
      type: 'GET',
      url: path,
      success: function(data){
        settings = data;
        if(data.not_assign){
          appendNotAssignFields($('#not_assign-fields'));
        }

        if(data.assign){
          appendAssignFields($('#assign-fields'));
        }

        jQuery.expr[':'].Contains = function(a,i,m){
          return (a.textContent || a.innerText || "").toUpperCase().indexOf(m[3].toUpperCase())>=0;
        };
        listFilter($("#header"), $("#not_assign-fields"));
      }
    });
  })();

  $( "#assign-fields, #not_assign-fields" ).sortable({
    connectWith: ".connectedSortable"
  }).disableSelection();

  $(".new_project").submit(function(){
    $("#user_ids").val($('#assign-fields').listVars());
  });
</script>
