<div class='table-search'>
  <%= search_form_for @q, url: tables_path do |f| %>
    <%= f.search_field :name_or_topic_or_skype_or_email_cont, placeholder: 'Search', class: 'form-control form-control-search' %>
    <%= hidden_field :type, '', name: 'type', id: 'type', value: params[:type] %>
    <%= hidden_field :type, '', name: 'only', id: 'only', value: params[:only] %>
    <%= button_tag '' , type: :submit, class: 'btn btn-sm btn-primary' do %>
      <%= content_tag(:i, '', class: 'glyphicon glyphicon-search') %>
    <% end %>
  <% end %>
</div>