 <div class='controll-panel'>
  <%= form_for(Table.new)  do |f| %>
    <div class="btn-group">
      <button class="btn btn-sm btn-danger delete"> 
      <i class="glyphicon glyphicon-trash"></i> Delete</button>
      <button class="add-new btn btn-sm btn-info" type="submit"> 
      <i class="glyphicon glyphicon-plus"></i> Add new</button>
    </div>
    <%= f.text_field(:name, hidden: true, name: 'table[name]') %>
    <%= f.text_field(:type, hidden: true, name: 'type', value: params[:type]) %>
    <%= f.text_field(:user_id, hidden: true, value: current_user.id) %>
    <%= f.text_field(:status_id, hidden: true,  value: Status.default_status(params[:type])) %>
  <% end %>
  <button id='table-settings' class='btn btn-sm btn-success inline-block'>
    <i class='glyphicon glyphicon-cog'> </i>
  </button>
</div>
