<%= content_for(:custom_scripts) do %>
  <%= javascript_include_tag 'export' %>
<% end %>

<div class="row">
	<div class="col-lg-6 col-md-8 col-lg-offset-3 col-md-offset-2">
		
		<!-- Nav tabs -->
		<ul class="nav nav-tabs">
		  <li class="active"><a href="#simple" data-toggle="tab">Simple</a></li>
			<li><a href="#advanced" data-toggle="tab">Advanced</a></li>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content">
		  <div class="tab-pane active" id="simple">
			  <%= form_tag export_scoped_path(type: 'SALE') do %>
			  	<div class="export-radio-group">
				  	<%= radio_button_tag 'export', 'open' %>
						<%= label_tag "open tasks" %>	
				  	<%= radio_button_tag 'export', 'sold' %>
						<%= label_tag "sold tasks" %>	
						<%= radio_button_tag 'export', 'declined' %>
						<%= label_tag "declined tasks" %>
						<%= radio_button_tag 'export', 'all', true %>
						<%= label_tag "all tasks" %>
					</div>
					<hr>
					<label for="from">From</label>
					<input type="text" class="from" name="period[from]">
					<label for="to">to</label>
					<input type="text" class="to" name="period[to]">
					<hr>
					<%= radio_button_tag 'format', '.xls', true %>
					<%= label_tag ".xls format" %>	
					<%= radio_button_tag 'format', '.csv', false, disabled: true %>
					<%= label_tag ".csv format" %>	
					<%= radio_button_tag 'format', 'statistic', false, disabled: true %>
					<%= label_tag "Statistic" %>
					<%= submit_tag 	"Download", class: "brn btn-primary pull-right" %>	
				<% end %>
		  </div>
		  <div class="tab-pane" id="advanced">
		  	<%= form_tag export_selective_path(type: 'SALE') do %>
			  	<table class="table">
						<thead>
							<tr>
								<th> Statuses </th>
								<th> Users </th>
								<th> Fields </th>
								<th> Settings </th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td id="statuses">
									<% Status.all_sale.each do |status| %>
										<input type="checkbox" name="statuses[]" id= '<%= "s_#{status.id}" %>' value= '<%= status.id %>' >
										<%= label_tag status.name %>
										<br>					
									<% end %>  
								</td>
								<td id="users">
									<% export_users_fields.each do |user| %>
										<input type="checkbox" name="users[]" id= '<%= user.id %>' value= '<%= user.id %>' >
										<%= label_tag "#{user.first_name} #{user.last_name}" %>
										<br>
									<% end %>
								</td>
								<%= export_field %>
								<td class="settings">
									<%= check_box_tag "All statuses", "All statuses" %>
									<%= label_tag "All statuses" %>
									<br>
									<%= check_box_tag "All users", "All users" %>
									<%= label_tag "All users" %>
									<br>
									<%= check_box_tag "All fields", "All fields" %>
									<%= label_tag "All fields" %>
								</td>
							</tr>
						</tbody>
					</table>
				  <hr>
					<label for="from">From</label>
					<input type="text" class="from" name="period[from]">
					<label for="to">to</label>
					<input type="text" class="to" name="period[to]">
					<hr>
					<%= radio_button_tag 'format', '.xls', true %>
					<%= label_tag ".xls format" %>	
					<%= radio_button_tag 'format', '.csv', false, disabled: true %>
					<%= label_tag ".csv format" %>	
					<%= radio_button_tag 'format', 'statistic', false, disabled: true %>
					<%= label_tag "Statistic" %>
					<%= submit_tag 	"Download", class: "brn btn-primary pull-right" %>
				<% end %> <!--/form_tag -->
			</div>
		</div>	
	</div>
</div>
