<%= render 'tables/sub_menu' %>
<div class="row">
  <div class="container-fluid">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

    <%= render 'shared/notifier' %>
      <!-- FIXME -->
      <div class='controll-panel'>
        <%= form_for(Table.new)  do |f| %>
          <div class="btn-group">
            <button class="btn btn-danger delete"> 
            <i class="glyphicon glyphicon-trash"></i></button>
            <button class="add-new btn btn-info" type="submit"> 
            <i class="glyphicon glyphicon-plus"></i></button>
          </div>
          <%= f.text_field(:name, hidden: true, name: 'table[name]') %>
          <%= f.text_field(:type, hidden: true, name: 'type', value: params[:type]) %>
          <%= f.text_field(:user_id, hidden: true, value: current_user.id) %>
          <%= f.text_field(:status_id, hidden: true,  value: Status.default_status(params[:type])) %>
        <% end %>
        <button id='table-settings' class='btn btn-success inline-block'>
          <i class='glyphicon glyphicon-cog'> </i>
        </button>
      </div>

      <%= render 'filters' %>
      <%= render 'table_search' %>
      <table class="table table-bordered table-condensed table-responsive data-table">
        <%= render 'table' %>
      </table>
      <%= render 'per_page' %>
      <div class='text-center'>
        <% unless cookies[:lid_count] == 'all' %>
          <%= will_paginate @table, renderer: BootstrapPagination::Rails, previous_label: '<<', next_label: '>>' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div id='editable-field'>
  <textarea id='editable-field-textarea' ></textarea>
</div>
<div id='activity-dialog'>
  <textarea id="activity-body"></textarea>
  <button id='activity-add' class="btn btn-primary btn-lg pull-right", type="button">Add</button>
</div>
<div id="declined-comment">
  <textarea id="declined_comment_body" class="comment_body"></textarea>
</div>


<!-- Modal -->
<div class="modal fade" id="remainderDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" >Reminder date-time</h4>
      </div>
      <div class="modal-body">
        <div class='input-group date' id='datetimepicker_reminder'>
          <input id='remainder-date-time' type='text' class="form-control" />
          <span class="input-group-addon" >
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id='remainder-dialog-save-button' class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Assigned Meeting</h4>
      </div>
      <div class="modal-body">
        <div class="row" id="meeting_dialog">
          <%= form_for :@meeting, :url => meetings_path(@meeting, :type => @type) do |f| %>
            <%= f.hidden_field :table_id, class: "form-control" %>
            <div class="control-field">
              <%= f.text_field :title, class: 'form-control', placeholder: 'Title'%>
            </div>
            <div class="control-field">
              <%= f.text_area :description, class: 'form-control', value: "#{@value_for_description}", placeholder: 'Description' %>
            </div>
            <div class="container" id="container">
              <div class='col-md-5' id='col-md-5' >
               <div class="form-group">
                  <div class='input-group date' id='datetimepicker6'>
                    <%= f.text_field :start_time, placeholder: 'Start time', class: "form-control" %>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                  </div>
                </div>
              </div>
              <div class='col-md-5' id='col-md-5' >
                <div class="form-group">
                  <div class='input-group date' id='datetimepicker7'>
                    <%= f.text_field :end_time, placeholder: 'End time', class: "form-control" %>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="control-field" id="meeting-email">
              <%= f.text_field :email,  class: 'form-control', placeholder: 'Add email'%>
            </div>
            <div class="side-by-side clearfix", id="chosen">
              <%= select_tag "User", options_for_select(User.all_except(current_user).collect {|p| [ p.first_name + ' ' + p.last_name , p.id ]} + Table.where(type: @type.capitalize).collect {|p| [ p.name , p.id.to_s + "task" ]}),multiple: true, style:"width:100% !important;", class: "chosen-select", name: 'users[]', id: 'user', "data-placeholder" => 'Select User ...' %>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <%= f.submit "Create", class: "btn btn-large btn-primary btn-block" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!-- End hidden blocks -->

<div id='context-menu'>
  <ul class='dropdown-menu' role='menu'>
    <li><a tabindex='-1'>Hide</a></li>
  </ul>
</div>

<style>
  #invisible-fields {
    float: right;
    border: 1px solid #ddd;
    width: 180px;
    min-height: 20px;
  }

  #visible-fields {
    border: 1px solid #ddd;
    width: 180px;
    min-height: 20px;
  }
</style>

<div id='table-settings-dialog'>
  <ul id='invisible-fields' class='connectedSortable'>
  </ul>
  <ul id='visible-fields' class='connectedSortable'>
  </ul>
</div>

<script>
  $(document).ready(function(){
    $('#table-settings-dialog').dialog({
      autoOpen: false,
      title: 'Table settings',
      width: 410,
      buttons:
      [
        {
          text: 'Close'
        },
        {
          text: 'Save'
        }
      ]
    });


    $('.context').contextmenu({
      target:'#context-menu', 
      before: function(e,context) {

      },
      onItem: function(context,e) {

      }
    });

    $('#table-settings').on('click', function(){
      $('#table-settings-dialog').dialog('open');
    });

    $( "#invisible-fields, #visible-fields" ).sortable({
      connectWith: ".connectedSortable"
    }).disableSelection();

    $.ajax({
      type: 'GET',
      url: 'tables/table_settings?' +
           '<%= "only=#{params[:only]}" %>' + '&' +
           '<%= "type=#{params[:type]}" %>',
      success: function(data){
        var i = 0;
        for(i; i < data.length; i = i+1){
          $('#visible-fields').append('<li>'+ data[i] +'</li>')
        }
      }
    })
  })
</script>
