<%= content_for(:custom_scripts) do %>
  <%= javascript_include_tag 'tables' %>
  <%= javascript_include_tag 'filters' %>
  <%= javascript_include_tag 'chosen.jquery.min' %>
<% end %>

<%= content_for(:title) do %>
  <%= site_title(location) %>
<% end %>

<%= content_for(:sub_menu) do %>
  <%= render "shared/submenus/#{sub_menu_type}" %>
<% end %>

<div class="row content">
  <div class="container-fluid">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

      <%= render 'shared/notifier' %>   
      <%= render 'table_controls' %>         
      <%= render 'table_filter' %>
      <%= render partial: 'plans/graphics', locals: {type: @type} if present?(:graphics)%>
      <%= render 'table_search' %>
      
      <div class='clear'></div>

      <% unless @table.empty? %>
        <table class="table table-bordered table-condensed table-responsive data-table">
          <%= render 'table_head' %>
          <%= render 'table_body' %>
        </table>
      <% else %>
        <div class='text-center no-data'> <label> No data to display </label> </div>     
      <% end %>

      <%= render 'per_page' %>
      
      <% if current_user.user_setting && current_user.user_setting[paginate_setting] != 'all' %>
        <div class='text-center'>
          <%= will_paginate @table, renderer: BootstrapPagination::Rails,
                                    previous_label: '<<', next_label: '>>' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- MODAL -->
  <%= render 'tables/modals/table_popups' %>
  <%= render 'tables/modals/reminder_date_popup' %>
  <%= render 'tables/modals/meeting_popup' %>
  <%= render 'tables/modals/settings_popup' %>
  <%= render 'tables/modals/topic_details' %>
<!-- END MODAL -->

<script>
$(document).ready(function(){
  var dialogTopic = $('#div-topic-details');
  dialogTopic.dialog({
    width: 700,
    height: 600,
    resizable: false,
    title: 'Topic details',
    autoOpen: false,
  });
});
</script>
