<div class="row">
  <div class="col-lg-3 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
    <div class="text-center  deadlock"> <h2>Please log in</h2> </div>
    <div class="form-ledge  deadlock">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: 'form-signin') do |f| %>
        <h2 class="form-signin-heading"></h2>

        <div class="error" >
          <span ><%= flash[:alert] %></span>
        </div>
        
        <div class="control-field">
          <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>
        </div>

        <div class="control-field">
          <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password' %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="control-field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>
        <div class="control-field">
          <%= f.submit "Log in", class: "btn btn-large btn-primary btn-block" %>
        </div>
        <div>
          <%= render "devise/shared/links" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
