<%= content_for(:custom_scripts) do %>
  <%= javascript_include_tag 'summary_reports' %>
<% end %>

<%= content_for(:title) do %>
  <%= site_title('Summary reports') %>
<% end %>

<%= content_for(:sub_menu) do %>
  <%= render 'shared/submenus/reports_sub_menu' %>
<% end %>

<div class='row content'>
  <div class='container-fluid'>
    <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
      <%= form_tag summary_reports_path, method: 'get', class: 'select-year-and-month' do %>
        <%= select_year(@date, start_year: 2015) %>
        <%= select_month(@date) %>
        <%= submit_tag 'Go', class: 'btn btn-sm btn-success' %>
      <% end %>
      <%= form_tag refresh_path, method: 'post', remote: true, class: 'refresh-dt-data' do %>
        <%= hidden_field 'date', 'year', value: @date.year %>
        <%= hidden_field 'date', 'month', value: @date.month %>
        <%= button_tag(content_tag(:i, '', class: 'glyphicon glyphicon-refresh') + ' DT', type: 'submit', class: 'btn btn-sm btn-success' ) %>
      <% end %>
      <%= render 'reports_search' %>
      <h3 class='text-center'> <%= @date.strftime("%B") %> </h3>
      <table class='table table-hover'>
        <thead>
          <th><h4><%= sort_link(@q, 'first_name', 'Full name') %></h4></th>
          <th><h4>Reports time</h4></th>
          <th><h4>Desctime time</h4></th>
          <th><h4>% Reports</h4></th>
          <th><h4>% Desctime</h4></th>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= link_to user.name, user_path(user) %></td>
              <td><%= user.reports_month_time(@date) %></td>
              <td><%= user.dt_month_time(@date) %></td>
              <td><%=  %></td>
              <td><%=  %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>

<!-- MODALS -->
  <%= render 'shared/popups/notificate' %>
<!-- END OF MODALS -->
