<td>
  <%= label_tag plan.first_day_in_month.try(:strftime, "%B %Y")%>
</td>
<td>
	<%= label_tag plan.count %>
</td>
<td>
	<%= label_tag plan.percentage %>
</td>
<td> <%= link_to(image_tag('edit.png'), edit_plan_path(plan, type: plan.for_type)) %></td>
<td> <%= link_to(image_tag('remove.png'), plan_path(plan), method: :delete) %></td>
