<%= content_for(:sub_menu) do %>
  <%= render "shared/submenus/admin_panel_sub_menu" %>
<% end %>

<div class="row content">
  <div class="col-lg-6 col-md-8 col-lg-offset-3 col-md-offset-2" id="plan">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
      <li class="active"><a href="#sale" data-toggle="tab">Sale</a></li>
      <li><a href="#candidate" data-toggle="tab">Candidate</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="sale">
        <%= link_to "Create new plan", new_plan_path(type: "SALE")%>
        <table class="table">
          <thead>
            <tr>
              <th> Statuses </th>
              <th> Month </th>
              <th> Count </th>
              <th> Percentage, % </th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @plan_sale.each do |plan|%>
              <tr>
                <%= render partial: "colum_for_plan", locals: {plan: plan, name: "Status"} %>
                <%= render partial: "same_information_in_plan", locals: {plan: plan} %>
              </tr>
              <% end %>
            </tbody>
        </table>
        <div class="text-center">
          <%= will_paginate @plan_sale, renderer: BootstrapPagination::Rails, previous_label: '<<', next_label: '>>' %>
        </div>
      </div>
      <div class="tab-pane" id="candidate">
        <%= link_to "Create", new_plan_path(type: "CANDIDATE")%>
         <table class="table">
          <thead>
            <tr>
              <th> Statuses </th>
              <th> Leveles </th>
              <th> Specializations </th>
              <th> Month </th>
              <th> Count </th>
              <th> Percentage, % </th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @plan_candidate.each do |plan|%>
              <tr>
                <%= render partial: "colum_for_plan", locals: {plan: plan, name: "Status"} %>
                <%= render partial: "colum_for_plan", locals: {plan: plan, name: "Level"} %>
                <%= render partial: "colum_for_plan", locals: {plan: plan, name: "Specialization"} %>
                <%= render partial: "same_information_in_plan", locals: {plan: plan} %>
              </tr>
              <% end %>
            </tbody>
        </table>
        <div class="text-center">
          <%= will_paginate @plan_candidate, renderer: BootstrapPagination::Rails, previous_label: '<<', next_label: '>>' %>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
    $("a[href=#" + (location.search.split('type=')[1]||'').split('&')[0].toLowerCase() + "]")[0].click();
	});
</script>