<%= form_for(@report, remote: true) do |f| %>
  <div class="modal-body">
    <ul class='errors'></ul>
    <div class="control-field">
      <%= f.text_field :date, readonly: true, class: 'form-control control-small report-datepicker', value: @report.date %>
      <%= f.number_field :hours, value: @report.hours,class: 'form-control control-small pull-right', step: 'any', placeholder: 'Hours'%>
    </div>
    <div class="control-field">
      <%= f.text_field :project, class: 'form-control', placeholder: 'Project', value: @report.project%>
    </div>
    <div class="control-field">
      <%= f.text_area :task, value: @report.task, class: 'form-control task-description', placeholder: 'Task description'%>
    </div>
  </div>
  <div class="modal-footer">
    <%= f.submit "Save", class: "btn btn-large btn-primary btn-block" %>
  </div>
<% end %>
 