<%= content_for(:custom_scripts) do %>
  <%= javascript_include_tag 'reports' %>
  <%= javascript_include_tag 'chosen.jquery.min' %>
<% end %>

<%= content_for(:title) do %>
  <%= site_title('My reports') %>
<% end %>

<%= content_for(:sub_menu) do %>
  <%= render 'shared/submenus/reports_sub_menu' %>
<% end %>

<div class='row content'>
  <div class='container-fluid'>
    <div class='col-lg-8 col-md-10 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-1'>
      
      <div class='month-reports'>
        <%= render 'index' %>
      </div>
  	
    </div><!-- col-lg-8 col-md-10 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-1 -->
  </div><!-- /container-fluid -->
</div><!-- /row content' -->

<!-- MODAL -->
<div class='modal fade' 
     id='report-modal'
     tabindex='-1'
     role='dialog' 
     aria-labelledby='myModalLabel'
     aria-hidden='true'>
</div>

<div id='table-settings-dialog'>
  <div id='invisible'>
    <label>My Project</label>
    <ul id='invisible-fields' class='connectedSortable'>
    </ul>
  </div>
  <div id='visible'>
    <label>Not my Project</label>
    <ul id='visible-fields' class='connectedSortable'>
    </ul>
  </div>
</div>
<!-- END MODAL -->
