<%= content_for(:custom_scripts) do %>
  <%= javascript_include_tag 'reports' %>
<% end %>

<%= content_for(:title) do %>
  <%= site_title('My reports') %>
<% end %>

<%= content_for(:sub_menu) do %>
  <%= render 'shared/submenus/reports_sub_menu' %>
<% end %>

<div class='row content'>
  <div class='container-fluid'>
    <div class='col-lg-8 col-md-10 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-1'>
      <%= form_tag reports_path, method: 'get', class: 'select-year-and-month inline' do %>
        <%= select_year(@date, start_year: 2015) %>
        <%= select_month(@date) %>
      <% end %>
      <%= link_to new_report_path, remote: true, class: 'btn btn-sm btn-success self-reports' do %>
        <%= content_tag(:i, '', class: 'glyphicon glyphicon-plus') %>
        <%=  'New report' %>
      <% end %>
      <table class="table table-hover">
				<thead>
					<tr>
            <th>
							<%= sort_link(@q, :date,
                            'Date', default_order: :desc,
                            class: 'sort context') %>
						</th>
            <th> Project </th>
						<th> Task description</th> 
						<th> Hours </th>
            <th> Edit </th>
					</tr>
				</thead>
				<tbody>
					<% @reports.each do |report|%>
						<tr class='report' id='<%= report.id %>'>
							<td class='report-date'>
                <%= report.date %>
							</td>
							<td class='report-project'>
                <%= report.project %>
							</td>
							<td class='report-description'>
                <%= report.task %>
							</td>
							<td class='report-time'>
                <%= report.hours %>
							</td>
              <td class='report-edit'>
                <%= link_to edit_report_path(report), remote: true do %>
                  <%= content_tag(:i, '', class: 'glyphicon glyphicon-edit') %>
                <% end %>
              </td>
						</tr>
					<% end %>
				</tbody>
    	</table>
  	</div>
  </div>
</div>
<!-- MODAL -->
<div class="modal fade" id="report-modal" 
     tabindex="-1" role="dialog" 
     aria-labelledby="myModalLabel" aria-hidden="true">
</div>
<!-- END MODAL -->