<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Create new report</h4>
      </div>
        <%= form_for @report do |f| %>
          <div class="modal-body">
            <div class="control-field">
              <%= f.text_field :date, id: "report_date", class: 'form-control', placeholder: 'Date' %>
            </div>
            <div class="side-by-side clearfix">
              <%= f.select :project_id, options_for_select(@user.projects.all_active.collect {|p| [ p.name, p.id ]}), style:"width:100% !important;", class: "chosen-select", name: 'project_id', id: 'project_id', "data-placeholder" => 'Select Project ...' %>
            </div>
            <div class="control-field">
              <%= f.text_field :task, class: 'form-control', placeholder: 'Task'%>
            </div>
            <div class="control-field">
              <%= f.number_field :hours, class: 'form-control', min: 0, placeholder: 'Hours'%>
            </div>
          </div>
          <div class="modal-footer">
            <%= f.submit "Create", class: "btn btn-large btn-primary btn-block" %>
          </div>
        <% end %>
    </div>
  </div>
</div>
<script type="text/javascript">
  $('#myModal').modal();
  $("#report_project_id").chosen();
  $('#report_date').datepicker( {dateFormat: 'dd-mm-yy'});
</script>