<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= favicon_link_tag 'logo.png' %>

    <title><%= content_for?(:title) ? yield(:title) : "CRM" %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= yield(:custom_scripts) %>
    
    <script src="http://code.highcharts.com/stock/highstock.js"></script>
    <script src="http://code.highcharts.com/stock/modules/exporting.js"></script>
</head>
<body>
  <div id="wrapper" >
    <%= render 'layouts/header' %>
    <%= yield %>
  </div>
    <%= render 'layouts/footer' %>
</body>
</html>



